body {
    text-align: center;
}
h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    text-align: center;
    color: blueviolet;
    line-height: 205px;
}